body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, Verdana;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0D0D0D
}

p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px
}

img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #FFFFFF dashed 10px;
}

div {
    min-height: 125px;
    padding: 20px;
    border: #FFFFFF solid 3px;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 200%;
}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: #FFFFFF solid 2px;
    border-left: #FFFFFF solid 5px;
    border-top: 0px;
    border-right: 0px;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-top: #FFFFFF solid 2px;
    border-right: #FFFFFF solid 5px;
    border-bottom: 0px;
    border-left: 0px;
}

.blue h2,
.blue p {
    color: #C4C4C4
}

.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: #FFFFFF solid 2px;
    border-left: #FFFFFF solid 5px;
}

.yellow p {
    color: #707070
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-top: #FFFFFF solid 2px;
    border-right: #FFFFFF solid 5px;
    border-bottom: 0px;
    border-left: 0px;
}

footer {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 255, 1) 25%, rgba(0, 102, 255, 1) 70%, rgba(0, 0, 0, 1) 100%);
    border: #FFFFFF solid 5px;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
}